.buttonSeeMore {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        width: 80%;
        background: #0575E6;
        background: -webkit-linear-gradient(to right, #021B79, #0575E6);
        background: linear-gradient(to right, #021B79, #0575E6);
        border-radius: 5px;
        height: 30px;
        border: hidden;
        font-size: 18px;
        font-weight: 600;
        font-family: sans-serif;
        color: #d6d4d4;
        text-shadow: -1px 1px 10px #060606d5;
    }

    button:hover {
        cursor: pointer;
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
        background: linear-gradient(to right, #2a0845, #6441A5);

    }
}