.container-widget {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .widget {
        width: 100%;
        img {
            width: 40px;
            height: 40px;
        }
        img:hover {
            width: 40px;
            height: 40px;
            color: #fff;
             filter: invert(.3); 
        }
    }
    .counter {
        width: 100%;
        p {
            position: absolute;
            right: 46.5px;
            top: 42px;
        }
        p:hover {
            color: #000;
        }
    }
}